<div id='loading_overlay'>Monte le son !<br>Chargement en cours...</div>

<div id='home_container'>

    <h1>Wendy et Arnaud se diront "Oui" dans...</h1>

    <!-- Countdown -->
    <div id='countdown_container'></div>

    <div id='user_inputs_container'>

        <!-- STEP 1: Coming YES or NO? -->
        <div id='coming_buttons' class='buttons_container animated up'>
            <h2>Seras-tu présent ?</h2>

            <div class='button_wrapper'>
                <button id='wont_be_present' class='no'>Non</button>
            </div>
            <div class='button_wrapper'>
                <button id='will_be_present' class='yes'>Oui</button>
            </div>
        </div>

        <!-- STEP 2: Fill name, email and comment -->
        <div id='form_container' class='animated up'>
            <%= form_for @guest, url: register_guest_path, format: :json, remote: true do |f| %>
                <%= f.label :name %><br />
                <%= f.text_field :name, placeholder: "Ton nom/prénom pour que l'on sache qui tu es" %>
                <%= f.email_field :email, placeholder: "ma_super_adresse@mariage_de_ouf.fr." %>
                <%= f.text_field :comment, placeholder: "Un petit commentaire peut-être ? :)" %>
                <%= f.select :will_be_present, [['Oui', true], ['Non', false]]  %>

                <div id='final_buttons' class='buttons_container'>
                    <div class='button_wrapper'>
                        <button class='cancel'>J'ai un doute</button>
                    </div>
                    <div class='button_wrapper'>
                        <button type='submit' class='validate_form yes'>Je valide</button>
                    </div>
                </div>
            <% end %>
        </div>

        <!-- STEP 3: confirmation screen -->
        <div id='success_confirmation' class='animated up'>
            <p>Ta confirmation a bien été enregistrée.<br>Merci, et à très bientôt !<br><br>Wendy et Arnaud</p>
        </div>

    </div>

</div>