<%= audio_tag 'Nat_King_Cole_LOVE.wav', autoplay: true %>

<div class='home_container'>

    <h1>Wendy et Arnaud se diront "Oui" dans...</h1>

    <!-- Countdown -->
    <div class='countdown_container'></div>

    <div class='buttons_container'>
        <h2>Seras-tu présent ?</h2>

        <div class='button_wrapper'>
            <button class='yes'>Oui</button>
        </div>
        
        <div class='button_wrapper'>
            <button class='no'>Non</button>
        </div>
    </div>

    <%= form_for @guest, url: register_guest_path, format: :json, remote: true do |f| %>
        <%= f.text_field :name, placeholder: "Votre nom" %>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.select :will_be_present, [['Oui', true], ['Non', false]]  %>
        <%= f.select :asks_for_mail_reminder, [['Oui', true], ['Non', false]]  %>

    <% end %>

</div>