<div class="container">

	<div class="row-fluid">
		<h1>Les photos</h1>
		<h2>Cliquez sur l'une des catégories pour retrouver les photos associées</h2>
	</div>

	<div class="filter-options row-fluid">
		<button data-group="preparation">Préparation</button>
		<button data-group="cityhall">Mairie</button>
		<button data-group="church">Eglise</button>
		<button data-group="shooting">Shooting</button>
		<button data-group="night">Soirée</button>
	</div>

</div>

<div class="container-fluid grid-container">

	<div id="grid" class="row-fluid">

		<% @pictures.each_with_index do |picture, index| %>
			<% if index <= 13 %>
				<% data_group = "preparation" %>
			<% elsif index <= 24 %>
				<% data_group = "cityhall" %>
			<% elsif index <= 68 %>
				<% data_group = "church" %>
			<% elsif index <= 86 %>
				<% data_group = "shooting" %>
			<% else %>
				<% data_group = "night" %>
			<% end %>

			<figure class="span3 picture-item" data-groups='["<%= data_group %>"]'>

				<%= link_to(image_tag(picture.thumb.url), "#picture-#{picture.id}", class: "fancybox") %>

				<div style="display:none;">
				  <div id="<%= "picture-#{picture.id}" %>" class="picture-fancybox">
				  	<div class="medium_picture_url"><%= picture.medium.url %></div><br>
				  	<%= link_to "Télécharger en haute définition", picture.hd.url %>
				  </div>
				</div>

			</figure>
		<% end %>

	</div>

</div>