	<div class="row">
		<h1>Les photos</h1>
		<h2>Cliquez sur l'une des catégories pour retrouver les photos associées</h2>
	</div>

	<div class="row">
		<div class="filter-options">
			<button class="col-sm-2 col-xs-6" data-group="preparation">Préparation</button>
			<button class="col-sm-2 col-xs-6" data-group="cityhall">Mairie</button>
			<button class="col-sm-2 col-xs-6" data-group="church">Eglise</button>
			<button class="col-sm-2 col-xs-6" data-group="firefighters">Pompiers</button>
			<button class="col-sm-2 col-xs-6" data-group="shooting">Shooting</button>
			<button class="col-sm-2 col-xs-6" data-group="night">Soirée</button>
		</div>
	</div>

</div>

<div class="container-fluid">

	<div class="grid-container">

		<div class="row-fluid">
			<div id="grid">

				<% @pictures.each_with_index do |picture, index| %>
					<figure class="span3 picture-item picture-<%= picture.id %>" data-groups='<%= picture.groups %>'>

						<%= image_tag picture.thumb.url, class: "thumb_image" %>

						<span class="hidden medium-picture-url"><%= picture.medium.url %></span>

						<span class="hidden current-id"><%= picture.id %></span>

						<span class="hidden previous-id"><%= index > 0 ? @pictures[index - 1].id : @pictures.last.id  %></span>
						<span class="hidden next-id"><%= index < @pictures.count - 1 ? @pictures[index + 1].id : @pictures.first.id %></span>

						<span class="hidden previous-medium"><%= index > 0 ? @pictures[index - 1].medium.url : @pictures.last.medium.url %></span>
						<span class="hidden next-medium"><%= index < @pictures.count - 1 ? @pictures[index + 1].medium.url : @pictures.first.medium.url %></span>

						<span class="hidden previous-hd"><%= index > 0 ? @pictures[index - 1].hd.url : @pictures.last.hd.url %></span>
						<span class="hidden next-hd"><%= index < @pictures.count - 1 ? @pictures[index + 1].hd.url : @pictures.first.hd.url %></span>

					</figure>
				<% end %>
			</div>
		</div>

		<!-- Image box -->
		<div class="image_box_container">
		  <div class="image_box_inner">

		  	<span class="hidden selected-picture-id"></span>

		  	<button class="close">
		  		<span class="glyphicon glyphicon-remove"></span>
		  	</button>
		  	<button class="previous">
		  		<span class="glyphicon glyphicon-chevron-left"></span>
		  	</button>
		  	<button class="next">
		  		<span class="glyphicon glyphicon-chevron-right"></span>
		  	</button>

		  	<div class="medium-picture-placeholder"></div>

		  	<%= link_to "Télécharger en haute définition", "", class: "hd_picture_url" %>

		  </div>
		</div>
		<div class="overlay"></div>

	</div>
</div>